<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>

<body>
    <div class="container my-1">
    <div class="row my-1">
        <span class="text1"><h2><b>HEALTHY DIET PLANNER</b></h2></span>
        <span class="text2"></h1><b></b></h1></span>
   
    </div>
    </div>
    <div>
    
        <div class='user '><a href="/login"><button type="Go to login page">LOGIN / REGISTER AS USER</button></a></div>
       
        
    
     <div class='dietician'> <a href="/dietician"><button type="Go to login page">LOGIN / REGISTER AS DIETICIAN</button></a></div>
    </div>
</body>
</html>