<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\index.css">
    <title>Index</title>
</head>
<nav>
    <a href='/'>HOME</a>

</nav>


<header>
    
</header>
<body>
     

       
        <div class="sub-page">
          <div class=button-1><a href="/diseases"><button type="diseases">DIET-PLAN</button></a></div>
        <br>
        <div class=button-1><a href="/custom-diet"><button type="diseases">CUSTOMISED DIET-PLAN</button></a></div>
        <br>
        <div class=button-1><a href="/exercise"><button type="exercise">EXERCISES AND BLOGS</button></a></div>
        <br>
       
        <div class=button-1><a href="http://localhost:3000/"><button type="plaza">RECIPE-PLAZA</button></a></div>
        <br>
        <div class=button-1><a href="/profile"><button type="profile">PROFILE</button></a></div>
        <br>
        <div class=button-1><a href="/newuserinput"><button type="services">INPUT DETAILS</button></a></div>
        <br>
        
        <div class=button-1><a href="/service"><button type="services">SERVICES</button></a></div>
        <br>
        <div class=button-1><a href="/about"><button type="about">ABOUT-US</button></a></div>
        <br>
        
       
        </div>
        
    
</body>
</html>