*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(morning4.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar navbar-dark bg-dark box-shadow{
    color: red;
}
header{
color: crimson;
}
h4{
    color: red;
}